.root {
    -fx-background: #c8825a;
    -fx-padding: 10;
    -fx-box-border: white;
    -fx-border-width: 10;
}

.button {
    -fx-background-color:
            linear-gradient(#ffd65b, #e68400),
            linear-gradient(#ffef84, #f2ba44),
            linear-gradient(#ffea6a, #efaa22),
            linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #404040;
    -fx-border-radius: 20;
    -fx-pref-width: 80;
    -fx-pref-height: 5;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-font-family: Cambria;
    -fx-padding: 10 20 10 20;
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #404040;
}

.button:hover {
    -fx-background-color: #c8aaff;
}

.vbox {
    -fx-alignment: center;
    -fx-spacing: 30;
    -fx-padding: 10;
}

.hbox {
    -fx-spacing: 10;
    -fx-alignment: center;
}

.text-area {
    -fx-font-size: 12;
    -fx-display-caret: true;
    -fx-min-width: 100;
    -fx-pref-width: 200;
    -fx-pref-rows: 10;
}

.text-area .content {
    -fx-background-color: #ffffff;
}

.text-field {
    -fx-pref-columns: 10;
}

.leftvbox {
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-spacing: 15;
}

.buttonvbox {
    -fx-spacing: 10;
}

.pane {
    -fx-border-color: #000000;
    -fx-border-width: 10;
    -fx-border-style: solid inside;
    -fx-padding: 10;
}

.rectangle {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 10;
    -fx-border-style: solid inside;
    -fx-padding: 10;
}


.yellowborder {
    -fx-border-style: solid inside;
    -fx-border-width: 3;
    -fx-border-insets: 3;
    -fx-border-color: YELLOW;
}

.redborder {
    -fx-border-style: solid inside;
    -fx-border-width: 3;
    -fx-border-insets: 3;
    -fx-border-color: #e60000;
}

.blackborder {
    -fx-border-style: solid inside;
    -fx-border-width: 3;
    -fx-border-insets: 3;
    -fx-border-color: black;
}

.cellcolor1 {
    -fx-fill: #fad2a0;
}

.cellcolor2 {
    -fx-fill: #be641e;
}