.root {
    -fx-background: #c8825a;
    -fx-padding: 10;
    -fx-box-border: white;
    -fx-border-width: 10;
}

.button {
    -fx-text-fill: #404040;
    -fx-background-color: #c8dcff;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 10;
    -fx-pref-width: 80;
    -fx-pref-height: 5;
    -fx-font-weight: bold;
    -fx-font-size: 10px;
    -fx-wrap-text: true;

}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #404040;
}

.button:hover {
    -fx-background-color: #c8aaff;
}

.vbox {
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-padding: 10;
    -fx-min-width: 400;
}

.hbox {
    -fx-spacing: 10;
    -fx-alignment: center;
}

.text-area {
    -fx-font-size: 12;
    -fx-display-caret: true;
    -fx-min-width: 100;
    -fx-pref-width: 200;
    -fx-pref-rows: 10;
}

.text-area .content {
    -fx-background-color: #ffffff;
}

.text-field {
    -fx-pref-columns: 10;
}

.leftvbox {
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-spacing: 15;
}

.buttonvbox {
    -fx-spacing: 10;
}

.pane {
    -fx-border-color: #000000;
    -fx-border-width: 10;
    -fx-border-style: solid inside;
    -fx-padding: 10;
}

.rectangle {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 10;
    -fx-border-style: solid inside;
    -fx-padding: 10;
}


.yellowborder {
    -fx-border-style: solid inside;
    -fx-border-width: 3;
    -fx-border-insets: 3;
    -fx-border-color: #00e1f0;
}

.redborder {
    -fx-border-style: solid inside;
    -fx-border-width: 3;
    -fx-border-insets: 3;
    -fx-border-color: #e60000;
}

.blackborder {
    -fx-border-style: solid inside;
    -fx-border-width: 3;
    -fx-border-insets: 3;
    -fx-border-color: black;
}

.cellcolor1 {
    -fx-fill: #f0f0f0;  /*Alice Blue*/
}

.cellcolor2 {
    -fx-fill: #404040;
}